.container {
  display: flex;
  flex-direction: column;
  width: var(--container-img-referral-width);
  gap: 10px;
}
.availableAmount {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.availableAmount span:nth-child(1) {
  font-weight: 500;
  font-size: 20px;
}
.availableAmount span:nth-child(2) {
  font-weight: 500;
  font-size: 16px;
}
.inputContainer {
  position: relative;
  width: 100%;
}
.numberInput {
  width: calc(100% - 32px);
  padding: 8px 16px;
  border-radius: var(--border-radius-input);
  border: 1px solid black;
  background-color: var(--background-color-app);
  outline: none;
  height: 20px;
  font-size: 18px;
  font-weight: 600;
}

.numberInput::-webkit-inner-spin-button,
.numberInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.numberInput[type='number'] {
  -moz-appearance: textfield;
}

.maxButton {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 10px;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius-button);
  cursor: pointer;
  width: 59px;
  height: 25px;
}

.aproveButton {
  background-color: var(--color-primary);
  padding: var(--padding-button);
  width: 212px;
  height: 38px;
  margin: 16px;
  font-weight: 600;
  font-size: 1.2rem;
}
.amoutExceededMessage {
  position: absolute;
  color: var(--color-red);
  font-size: 12px;
  margin-top: 4px;
}
