@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,100&display=swap');

.counterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cont span {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.time {
  font-size: 450%;
  font-weight: 800;
  letter-spacing: 8px;
}
